<doctype html>
<head>
    <title>My Shopping List</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<h2>My Shopping List</h2>
  <p>Displayed in the order of date to purchase<p>
{{ table }}
<p><p>
<a href="{{ url_for('.new_store') }}"> Add New Record(s) </a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p>Input date to purchase, store or item information for a specific shopping list or nothing to show the whole shopping list:</p>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><button type=submit value=Refresh>Show select shopping list</button>
</form>
</doctype>